body {
      background-image: url('https://as2.ftcdn.net/jpg/02/46/31/35/1000_F_246313528_w4tOtd6jMI5VKlJh5ZJjizKX2nDexhpj.jpg');
  background-size: cover; /* L'image couvre toute la surface de l'élément */
  background-position: center; /* Centrer l'image dans l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  height: 100vh; /* Pour s'assurer que l'image couvre tout l'écran */
  margin: 0; /* Enlève les marges par défaut du body */
font-size: 22px; /* police */
    color: #333; /*couleur du texte */
    text-align: left;
    font-family: Georgia, serif; 
h1{
  font-family: 'Segoe UI', sans-serif;
  color: #2c3e50;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: center;
}
h2{
font-family: system-ui, "Segoe UI", "Roboto", sans-serif;
text-align: center;
margin-top: -25px
  font-size: 20px;
}
h3{
text-align: center;
}
.texte-special {
  font-family: 'Playfair Display', serif;
  color: #333;
}

     #image1 {
      border: 3px solid blue;
      margin-left: 20px;
    }


    #image2 {
      border: 3px solid blue;
      margin-left: 20px;
    }


    #image3 {
      border: 3px dashed green;
      margin-left: 20px;
    }


    #image4 {
      border: 3px solid red;
      margin-left: 20px;
    }
img{
border: 3px solid #4A90E2;       
border-radius: 10px;            /* Coins arrondis */
margin-left: 46%; 
margin-top: -12px;
image-: center;
}
.vie .special-img {
image-: left;
}

	
