body {
    
    font-size: 22px; /* police */
    background-color: #f4f4; /* fond */
    color: #333; /*couleur du texte */
    text-align: left;
    font-family: Georgia, serif; 
h1{
  font-family: 'Segoe UI', sans-serif;
  color: #2c3e50;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: center;
}
h2{
font-family: system-ui, "Segoe UI", "Roboto", sans-serif;
text-align: center;
margin-top: -25px
  font-size: 20px;
}
h3{
text-align: center;
}

     #image1 {
      border: 3px solid blue;
      margin-left: 20px;
    }


    #image2 {
      border: 3px solid blue;
      margin-left: 20px;
    }


    #image3 {
      border: 3px dashed green;
      margin-left: 20px;
    }


    #image4 {
      border: 3px solid red;
      margin-left: 20px;
    }
img{
border: 3px solid #4A90E2;       
border-radius: 10px;            /* Coins arrondis */
margin-left: 46%; 
margin-top: -12px;
image-: center;
}
.vie .special-img {
image-: left;
}

	
